<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alfa-Events</title>
    <link rel="icon" href="/images/AlfaEvents-icon.png">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/login.css" />
  </head>
  <body>
    <div class="page position-fixed">
      <div class="circle-1"></div>
      <div class="circle-2"></div>
      <div class="circle-3"></div>
      <div class="circle-4"></div>
      <div class="circle-5"></div>
      <div class="circle-6"></div>
  </div>
    <div
      class="container d-flex align-items-center justify-content-center min-vh-100"
    >
      <div class="content-box">
        <div class="login-box-header text-center mb-3">
          <img
            class="alfa-logo img-fluid"
            src="/images/ALFA_EVENT_LOGO1.png"
            alt="ALFA Event Logo"
          />
        </div>
        <div class="login-box-form">
          <form id="login-form">
            <div class="input-parent-div">
              <div class="form-group">
                <label for="username">User ID</label>
                <input type="text" id="userId" class="form-control" />
              </div>
              <div class="form-group position-relative">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control" />
                <button
                  type="button"
                  id="togglePassword"
                  class="toggle-password"
                >
                  👁️
                </button>
              </div>

              <p
                id="showerror"
                style="
                  display: none;
                  color: red;
                  text-align: center;
                  margin-top: 0px;
                "
              >
                Invalid Id or Password try again
              </p>
            </div>
            <div class="form-group">
              <button
                type="submit"
                class="btn btn-dark btn-block"
                id="login-button"
              >
                Log In
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script>
      const togglePassword = document.getElementById("togglePassword");
      const passwordInput = document.getElementById("password");

      togglePassword.addEventListener("click", function () {
        // Toggle the type attribute
        const type =
          passwordInput.getAttribute("type") === "password"
            ? "text"
            : "password";
        passwordInput.setAttribute("type", type);

        // Toggle the icon (optional: change emoji based on visibility)
        this.textContent = type === "password" ? "👁️" : "🙈";
      });
    </script>

    <script>

      const apiUrl= "<%= apiUrl %>";
      const form = document.getElementById("login-form");
      form.addEventListener("submit", (event) => {
        event.preventDefault();
        const userId = document.getElementById("userId").value;
        const password = document.getElementById("password").value;

        if (userId && password) {
            fetch(`${apiUrl}/userlogin`, {

            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ userId: userId, password: password }),
          })
            .then((response) => {
              if (!response.ok) {
                return response.json().then((data) => {
                  throw new Error(data.message || "An error occurred.");
                });
              }
              return response.json();
            })
            .then((data) => {
              if (!data.success) {
                // Show specific error message from backend
                document.getElementById("showerror").style.display = "block";
                document.getElementById("showerror").textContent = data.message;
              } else {
                // Redirect to the specified URL if login is successful
                window.location.href = data.redirectUrl;
              }
            })
            .catch((err) => {
              console.error("Error message:", err.message);
              // Display general error message if specific error is not provided
              document.getElementById("showerror").style.display = "block";
              document.getElementById("showerror").textContent =
                err.message || "An error occurred. Please try again later.";
            });
        } else {
          // Show error if userId or password is missing
          document.getElementById("showerror").style.display = "block";
          document.getElementById("showerror").textContent =
            "User ID and password are required.";
        }
      });
    </script>
  </body>
</html>
