body {
  font-family: Arial, sans-serif;
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
}


.page{
width: 100%;
height: 100%;
/* background-color: blueviolet; */
position: absolute;

z-index: -1;

}
.circle-1{
height: 13%;
width: 10%;
position: absolute;
left: 20%;
top: 20%;
border-radius: 50%;
background-color: rgb(199,246,224);
box-shadow: 0 0 100px 100px rgb(199,246,224);
animation: test1 40s linear infinite;

}
@keyframes test1{
0%{
    top: 20%;
    left: 20%;
}
50%{
    top: 20%;
    left: 50%;
}
75%{
    top: 40%;
    left: 20%;
}
100%{
    top: 20%;
    left: 20%;
}
}
.circle-2{
height: 13%;
width: 10%;
position: absolute;
left: 60%;
top: 30%;
border-radius: 50%;
background-color: rgb(249,196,225);
box-shadow: 0 0 100px 100px rgb(249,196,225);
animation: test2 40s linear infinite;
}
@keyframes test2{
0%{
    top: 60%;
    left: 30%;
}
50%{
    top: 10%;
    left: 10%;
}
75%{
    top: 60%;
    left: 90%;
}
100%{
    top: 60%;
    left: 30%;
}
}
.circle-3{
height: 13%;
width: 10%;
position: absolute;
left: 30%;
top: 60%;
border-radius: 50%;
background-color:rgb(233,205,151);
box-shadow: 0 0 100px 100px rgb(233,205,151);
animation: test3 40s linear infinite;
}
@keyframes test3{
0%{
    top: 60%;
    left: 30%;
}
50%{
    top: 50%;
    left: 50%;
}
75%{
    top: 70%;
    left: 10%;
}
100%{
    top: 60%;
    left: 30%;
}
}

.circle-4{
height: 13%;
width: 10%;
position: absolute;
left: 60%;
top: 60%;
border-radius: 50%;
background-color: rgb(151,217,216);
box-shadow: 0 0 100px 100px rgb(151,217,216);
animation: test4 40s linear infinite;

}
@keyframes test4{
0%{
    top: 60%;
    left: 60%;
}
50%{
    top: 60%;
    left: 10%;
}
75%{
    top: 10%;
    left: 20%;
}
100%{
    top: 60%;
    left: 60%;
}
}
.circle-5{
height: 13%;
width: 10%;
position: absolute;
left: 50%;
top:70%;
border-radius: 50%;
background-color: rgb(245,198,198);
box-shadow: 0 0 100px 100px rgb(245,198,198);
animation: test5 40s linear infinite;

}
@keyframes test5{
0%{
    top: 70%;
    left: 50%;
}
50%{
    top: 10%;
    left: 90%;
}
75%{
    top: 30%;
    left: 20%;
}
100%{
    top: 70%;
    left: 50%;
}
}
.circle-6{
height: 13%;
width: 10%;
position: absolute;
left: 38%;
top: 20%;
border-radius: 50%;
background-color: rgb(189,213,246);
box-shadow: 0 0 100px 100px rgb(189,213,246);
animation: test6 40s linear infinite;

}
@keyframes test6{
0%{
    top: 20%;
    left: 38%;
}
50%{
    top: 30%;
    left: 50%;
}
75%{
    top: 40%;
    left: 20%;
}
100%{
    top: 20%;
    left: 38%;
}
}

.content-box {
    height: 600px;
    width: 350px;
    max-width: 600px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    /* background-color: rgb(0, 0, 0); */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    color: white;
    font-family: monospace;
    
}

.card-header {
    padding: 30px;
}
.alfa-logo {
    width: 120px;
}

.details-div {
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    text-align: center;
    height: 60%;
    display: flex;
    align-items: center;
}
.details-div ul {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}


.info-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1rem;
  }
  
  .label {
    font-weight: bold;
    flex: 0.6;
    text-align: left;
    font-size: medium;
  }

  .value {
    flex: 1;
    text-align: left;
    padding-left: 5px;
    font-size: medium;
  }
  .footer {
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
}

.footer button {
  border-radius: 8px;
  border: none;
  width: 50%;
  height: 40px;
  color: white;
  background-color: rgb(0, 65, 0);
}

.footer button:active {
  background-color: rgb(3, 120, 3);
}

  

  



